In [2]:
import numpy as np
import pandas as pd

In [4]:
a= pd.read_csv(r"C:\Users\8902\Desktop\git repos\GOOG.csv")

In [5]:
print(a)

            Date        Open        High         Low       Close   Adj Close  \
0     2004-08-19   49.676899   51.693783   47.669952   49.845802   49.845802
1     2004-08-20   50.178635   54.187561   49.925285   53.805050   53.805050
2     2004-08-23   55.017166   56.373344   54.172661   54.346527   54.346527
3     2004-08-24   55.260582   55.439419   51.450363   52.096165   52.096165
4     2004-08-25   52.140873   53.651051   51.604362   52.657513   52.657513
...          ...         ...         ...         ...         ...         ...
3308  2017-10-09  980.000000  985.424988  976.109985  977.000000  977.000000
3309  2017-10-10  980.000000  981.570007  966.080017  972.599976  972.599976
3310  2017-10-11  973.719971  990.710022  972.250000  989.250000  989.250000
3311  2017-10-12  987.450012  994.119995  985.000000  987.830017  987.830017
3312  2017-10-13  992.000000  997.210022  989.000000  989.679993  989.679993

        Volume
0     44994500
1     23005800
2     18393200
3     15361800
4      9257400
...        ...
3308    891400
3309    968400
3310   1693300
3311   1262400
3312   1157700

[3313 rows x 7 columns]

In [6]:
dates = np.array(a['Date'])

In [8]:
print(dates)

['2004-08-19' '2004-08-20' '2004-08-23' ... '2017-10-11' '2017-10-12'
 '2017-10-13']

In [ ]:
dates = np.array(a['Date'])